/*
 * Copyright 2023 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&pinctrl {
	pinmux_flexcomm4_lpi2c: pinmux_flexcomm4_lpi2c {
		group0 {
			pinmux = <FC4_P0_PIO1_20>,
				<FC4_P1_PIO1_21>;
			slew-rate = "fast";
			drive-strength = "low";
			input-enable;
			bias-pull-up;
			drive-open-drain;
		};
	};

	pinmux_flexcomm4_lpuart_concurrent: pinmux_flexcomm4_lpuart_concurrent {
		group0 {
			pinmux = <FC4_P2_PIO1_10>,
				<FC4_P3_PIO1_11>;
			slew-rate = "fast";
			drive-strength = "low";
			input-enable;
		};
	};
};

&flexcomm4_lpuart4 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&pinmux_flexcomm4_lpuart_concurrent>;
	pinctrl-names = "default";
};

/* To test this sample, connect
 * LPI2C4 SCL(J2-33)     -->         LPI2C2 SCL(J1-45)
 * LPI2C4 SDA(J2-37)     -->         LPI2C2 SDA(J1-46)
 */
&flexcomm4_lpi2c4 {
	pinctrl-0 = <&pinmux_flexcomm4_lpi2c>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
	eeprom0: eeprom@54 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x54>;
		size = <1024>;
	};
};

&flexcomm2_lpi2c2 {
	status = "okay";
	eeprom1: eeprom@56 {
		compatible = "zephyr,i2c-target-eeprom";
		reg = <0x56>;
		size = <1024>;
	};
};
