/*
 * Copyright 2023 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "frdm_mcxn947-pinctrl.dtsi"
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/display/panel.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

/ {
	aliases{
		led0 = &red_led;
		led1 = &green_led;
		led2 = &blue_led;
	};

	leds {
		compatible = "gpio-leds";
		green_led: led_1 {
			gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
			label = "Green LED";
			status = "disabled";
		};
		blue_led: led_2 {
			gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
			status = "disabled";
		};
		red_led: led_3 {
			gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
			label = "Red LED";
			status = "disabled";
		};
	};
};

&edma0 {
	status = "okay";
};

&flexcomm1_lpspi1 {
	pinctrl-0 = <&pinmux_flexcomm1_lpspi>;
	pinctrl-names = "default";
};

&flexcomm2_lpi2c2 {
	pinctrl-0 = <&pinmux_flexcomm2_lpi2c>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&flexcomm4_lpuart4 {
	current-speed = <115200>;
	pinctrl-0 = <&pinmux_flexcomm4_lpuart>;
	pinctrl-names = "default";
};

&flash {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(64)>;
		};
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 DT_SIZE_K(960)>;
		};
		slot1_partition: partition@100000 {
			label = "image-1";
			reg = <0x00100000 DT_SIZE_K(960)>;
		};
		scratch_partition: partition@1f0000 {
			label = "image-scratch";
			reg = <0x001f0000 DT_SIZE_K(64)>;
		};
	};
};

/*
 * MCXN947 board uses OS timer as the kernel timer
 * In case we need to switch to SYSTICK timer, then
 * replace &os_timer with &systick
 */
&os_timer {
	status = "okay";
};

&sc_timer {
	pinctrl-0 = <&pinmux_sctimer>;
	pinctrl-names = "default";
};

&lpadc0 {
	pinctrl-0 = <&pinmux_lpadc0>;
	pinctrl-names = "default";
};

&flexcan0 {
	bus-speed = <125000>;
	bus-speed-data = <1000000>;
	pinctrl-0 = <&pinmux_flexcan0>;
	pinctrl-names = "default";
};

&flexio0 {
	flexio0_lcd: flexio0-lcd {
		compatible = "nxp,mipi-dbi-flexio-lcdif";
		#address-cells = <1>;
		#size-cells = <0>;
		/* DMA channels 0, muxed to FlexIO TX */
		dmas = <&edma0 0 61>;
		dma-names = "tx";
		shifters_count = <8>;
		timers_count   = <1>;
		enwr-pin = <1>;
		rd-pin = <0>;
		data-pin-start = <16>;
		/* 16-bit data bus, baud rate on each pin is 1MHz. */
		baudrate-bps = <160000000>;
		reset-gpios = <&gpio4 7 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
		rs-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&pinmux_flexio_lcd>;
		pinctrl-names = "default";

		st7796s: st7796s@0 {
			compatible = "sitronix,st7796s";
			reg = <0>;
			mipi-max-frequency = <43000000>;
			mipi-dbi-mode = <MIPI_DBI_MODE_8080_BUS>;
			height = <320>;
			width = <480>;
			invert-mode = "1-dot";
			frmctl1 = [80 10];
			bpc = [1F 50 00 20];
			dfc = [8A 07 3B];
			pwr1 = [80 64];
			pwr2 = <0x13>;
			pwr3 = <0xA7>;
			vcmpctl = <0x09>;
			doca = [40 8A 00 00 29 19 A5 33];
			pgc = [F0 06 0B 07 06 05 2E 33 47 3A 17 16 2E 31];
			ngc = [F0 09 0D 09 08 23 2E 33 46 38 13 13 2C 32];
			madctl = <0x28>;
			color-invert;
		};
	};
};
