# Copyright 2023 NXP
# SPDX-License-Identifier: Apache-2.0

if BOARD_FRDM_MCXN947_CPU0 || BOARD_FRDMMCXN947_CPU1

config BOARD
	default "frdm_mcxn947_cpu0" if BOARD_FRDM_MCXN947_CPU0
	default "frdm_mcxn947_cpu1" if BOARD_FRDM_MCXN947_CPU1

config FLASH_MCUX_FLEXSPI_NOR_SPECIFIC_INIT
	default y
	depends on FLASH_MCUX_FLEXSPI_NOR

endif # BOARD_FRDM_MCXN947_CPU0 || BOARD_FRDM_MCXN947_CPU1
