# Copyright 2023 NXP
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_MCX_N94X

config SOC_SERIES
	default "n94x"

config NUM_IRQS
	default 155

config ROM_START_OFFSET
	default 0x400 if BOOTLOADER_MCUBOOT

config ZTEST_NO_YIELD
	default y if (PM && ZTEST)

if CODE_FLEXSPI

config FLASH_LOAD_OFFSET
	default 0x08000000

endif # CODE_FLEXSPI

source "soc/arm/nxp_mcx/n94x/Kconfig.defconfig.n94*"

endif # SOC_SERIES_MCX_N94X
