# Copyright 2023 NXP
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_MCX_N94X

config SOC_SERIES
	default "n94x"

config NUM_IRQS
	default 155

config ROM_START_OFFSET
	default 0x400 if BOOTLOADER_MCUBOOT

config ZTEST_NO_YIELD
	default y if (PM && ZTEST)

if CODE_FLEXSPI

config FLASH_SIZE
	default $(dt_node_reg_size_int,/soc/spi@500c8000,1,K)

config FLASH_BASE_ADDRESS
	default $(dt_node_reg_addr_hex,/soc/spi@500c8000,1)

# Explicitly set this to 0 as the bootloader is always in internal Flash.
# So we do not need an offset
config FLASH_LOAD_OFFSET
	default 0

endif # CODE_FLEXSPI

source "soc/arm/nxp_mcx/n94x/Kconfig.defconfig.n94*"

endif # SOC_SERIES_MCX_N94X
